<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <LINK type="text/css" media="screen" rel="stylesheet" href="bootstrap.min.css">
                <title>Security Camera</title>
        </head>
        <body>
        <h1>Security Camera</h1>        
        <h3><a href="/files">Motion images directory</a></h3>
        <h3><a href="/" onclick="javascript:event.target.port=8081">Live Camera Feed on port 8081</a></h3>
        <p><%= [@unknown] %> </p>
        <% @days.each do |day,details| %>
            <h2><%= day %></h2>
            <h3>Thumbnails</h3>
            <ul>
            <% details.timelapse.each do |tl| %>
               <li> <a href="/files/<%= tl %>"><%= tl %></a></li>
            <% end %>
            </ul>
            <h3>Events</h3>
            <div class="row row-cols-1 row-cols-md-2">
            <% details.events.each do |event,files| %>
                <div class="col">
                    <div class="media">
                        <a href="/files/<%= files[:img][0] %>"><img src="/files/<%= files[:img][0] %>" width=192 height=144 class="mr-3" alt="..."></a>
                        <div class="media-body">
                            <h4 class="mt-0"><%= event %></h4>
                            <p>Images: 
                                <% files[:img].each do |file| %>
                                    <a href="/files/<%= file %>"><%= file %></a>
                                <% end %> 
                            </p>
                            <p>Videos: 
                                <% files[:video].each do |file| %>
                                    <a href="/files/<%= file %>"><%= file %></a> 
                                <% end %> 
                            </p>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>
        </body>
</html>